body {
  background-color: rgba(0, 0, 0, 0.3);

}

p {
  margin: 1rem 0;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.24);
  margin-bottom: 1.5rem;
}

.personalInp,
.professionalInp,
.educationalInp,
.skillsInp,
.projects,
.interest {
  display: flex;
  flex-direction: column;
}

.personalInp input,
.professionalInp input,
.educationalInp input,
.skillsInp input,
.projects input,
.interest input {
  background-color: rgba(160, 160, 160, 0.3);
  padding: 0.45rem;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
}

.template {
  background-color: rgb(238, 67, 67);
  height: 500px;
  width: 500px;
  margin: auto;
  margin-top: 1rem;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maker,
.template {
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-template-columns: minmax(300px, 800px);
  height: fit-content;
  width: fit-content;
  background-color: white;
  padding: 1.5rem;
  margin: auto;
  margin-top: 1rem;
}


.nav {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: auto;
  background-color: black;
  border-radius: 0.5rem;

}

.nav a {
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.nav a:hover {
  filter: brightness(90%);
}

.vl {
  width: 2px;
  height: 100%;
}

.headerText {
  font-size: 1.5rem;
  font-weight: bold;
}

.image {
  background-color: white;
  height: fit-content;
  width: fit-content;
  border-radius: 100%;
}

.name {
  font-size: 2rem;
  margin: auto;
}

.title,
.address {
  margin: auto;
}

.hr {
  margin: 1rem 0;
  margin-bottom: 0;
  height: 1px;
  background-color: black;
}

.headerEdu,
.headerSkills,
.headerProfExp,
.headerProjects,
.headerInterests {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.skillsDiv,
.courses,
.projectWorks,
.interestNames {
  margin: 1rem 0;
}

.projectWorks li {
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.companyWorks {
  margin-top: 0;
  margin-bottom: 1rem;
}

.skills {
  margin-top: 2rem;
}

.university,
.jobTitleCity,
.jobNameDuration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobNameDuration {
  padding-top: 1rem;
}

.jobNameDuration p {
  margin-top: 0;
  font-weight: bold;
}

.companyName {
  font-size: 1.5rem;
}

.university p,
.jobDiv p,
.jobTitleCity p {
  margin: 0;
  margin-top: 0.5rem;
  font-weight: bold;
}

.delBtn,
.addBtn,
.changeBtn {
  font-size: 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.changeBtn {
  color: white;
  background-color: #413F42;
}

.delBtn {
  background-color: #F96666;
  margin-bottom: 0.5rem
}

.addBtn {
  background-color: #59CE8F;
}